# Sensitive files
backend/.env
*.pem  
MONGO_URI=mongodb+srv://r3al3ran0n25::0En4HoszIP2OveBF@cluster0.mongodb.net/r3al3r?retryWrites=true&w=majority
SOUL_KEY_HASH=your_soul_key_hash_here
ALERT_EMAIL=your_alert_email@gmail.com
ALERT_PASSWORD=your_email_password
ALERT_RECIPIENT=admin@r3al3r.ai

# Build outputs
mobile/build/
backend/__pycache__/
*.tar
*.tar.gz

# IDE files
.vscode/
.idea/

# Python virtual environments
backend/venv/

# Flutter-specific files
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.dart_tool/

# Logs
backend/r3al3r.log
/var/log/mongodb/mongod.log

# macOS metadata
.DS_Store
